<h1>Mario&#39;s Speciality Food Products</h1>
<div class="row">
  <div class="col-sm-4">
    <h3>About us</h3>

    <p>The landing page should include basic information about the company and should allow users to easily navigate to other areas of the site. This page should also include the three most recently added products and the product with the most reviews. See more information in the Scopes section below.</p>
    <br><br>

    <h3>Most Recent Products</h3>
    <% if @products.any? %>
      <ul>
        <% @products.most_recent.each do |product| %>
          <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>There are no products yet.</p>
    <% end %>
    <br><br>

    <h3>Most Reviewed Products</h3>
    <% if @products.any? %>
      <ol>
        <% @products.most_reviews.each do |product| %>
          <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ol>
    <% else %>
      <p>There are no products yet.</p>
    <% end %>
    <br><br>

    <h3>American Products</h3>
    <% if @products.any? %>
      <ul>
        <% @products.american.each do |product| %>
          <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>There are no American products available.</p>
    <% end %>
  </div>
  <div class="col-sm-1"> </div>
  <div class="col-sm-4">
    <div class = "all_product">
      <h3>All Available Products</h3>
      <% if @products.any? %>
        <ol>
          <% @products.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
          <% end %>
        </ol>
      <% else %>
        <p>There are no products yet.</p>
      <% end %>
    </div>
  </div>
</div>
    