<p><%= link_to "Delete user", user_path(@user),
                                      :data => {:confirm => "Are you sure?",
                                        :method => "delete"} %></p>


<p><%= link_to "Return to users list", admin_path %></p>