<div class="row">
  <div class="col-sm-4">

    <h1>Products</h1>
    <% if @products.any? %>
    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
    <% else %>
      <p>There are no products yet.</p>
    <% end %>
  
    <p><%= link_to "create new product", new_product_path %></p>

  </div>
  <div class="col-sm-4">